* {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  background: #212024;
  height: 100vh;
}

#background-image {
  position: absolute;
  z-index: -1;
  filter: blur(0.4rem);
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

#main {
  border: 1px solid #3f6abb;
  border-radius: 0.4rem;
  box-shadow: #3f6abb 0 0 2rem;
  background-color: #171b25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  opacity: 0.9;
}

#title {
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: 1px solid #3f6abb;
  text-align: center;
}

@media screen and (min-width: 534px) {
  #title {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 467px) and (max-width: 533px) {
  #title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 466px) {
  #title {
    font-size: 1.6rem;
  }
}

#subtitle {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
}

#subtitle > img {
  width: 1rem;
  margin-right: 0.2rem;
}

#description {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  max-width: fit-content;
}

#links {
  margin-top: 2rem;
}

#links > a {
  margin: 0 0.6rem;
  border: 1px solid #3f6abb;
  border-radius: 0.2rem;
  padding: 0.6rem;
}

#links > a:hover {
  background-color: #3f6abb;
  transition: background-color 0.2s;
}